<div class="container-fluid" id="printPageButton">
  <!-- start page title -->
  <!-- <app-page-title title="Apex charts" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
  <!-- end page title -->

  <div class="row">
    <!-- <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Line with Data Labels</h4>
          <apx-chart class="apex-charts" dir="ltr" [series]="linewithDataChart.series" [chart]="linewithDataChart.chart"
            [colors]="linewithDataChart.colors" [stroke]="linewithDataChart.stroke"
            [dataLabels]="linewithDataChart.dataLabels" [title]="linewithDataChart.title"
            [responsive]="linewithDataChart.responsive" [legend]="linewithDataChart.legend"
            [xaxis]="linewithDataChart.xaxis" [yaxis]="linewithDataChart.yaxis" [stroke]="linewithDataChart.stroke"
            [markers]="linewithDataChart.markers">
          </apx-chart>
        </div>
      </div>

    </div> -->
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
          <div class="row">
            <!-- <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>

              </div>
            </div>
            <div class="col-5 align-self-end"> -->
            <img src="assets/images/reservoir.jpg" alt="" class="img-fluid" />
            <!-- </div> -->
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col pt-3 pb-3">
              <!-- <div class="avatar-md profile-user-wid mb-4">
                            <img  alt="" class="img-thumbnail rounded-circle">
                        </div> -->
              <h1 class="text-truncate mb-2">
                <strong>{{ reservoirName || "NA" }}</strong>
              </h1>

              <!-- <h5 class="font-size-15 text-truncate">
                <span class="text-info">Maintainer Name : </span>
                {{ user?.name || "NA" }}
              </h5> -->
              <!-- <p class="text-muted mb-0 text-truncate">{{user?.email}}</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p>
                <i
                  class="mdi mdi-ethereum h2 text-primary align-middle mb-0 me-3"
                ></i>
                Capacity
              </p>

              <div class="row">
                <div class="col">
                  <div class="p-2">
                    <h5
                      class="text-center font-weight-bold"
                      *ngIf="reservoirCapacity"
                    >
                      {{ reservoirCapacity }}
                      <span class="text-center">(in mcft.)</span>
                    </h5>
                    <h5
                      *ngIf="!reservoirCapacity"
                      class="text-center font-weight-bold"
                    >
                      NA
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p>
                <i
                  class="mdi mdi-litecoin h2 text-info align-middle mb-0 me-1"
                ></i>
                Full Height
              </p>

              <div class="row">
                <div class="col">
                  <div>
                    <h5 *ngIf="reservoirFullHeight" class="text-center">
                      <span class="font-weight-bold">{{
                        reservoirFullHeight
                      }}</span>
                      (in ft.)
                      <br />
                      <span class="font-size-13 text-center text-primary">{{
                        convertFt2Meter(reservoirFullHeight)
                      }}</span>
                    </h5>

                    <h5
                      *ngIf="!reservoirFullHeight"
                      class="text-center font-weight-bold"
                    >
                      NA
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex flex-wrap">
            <h4 class="card-title mb-4">Daily Water Level Report</h4>
            <div class="ms-auto">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <!-- <a class="nav-link" href="javascript: void(0);"
                            [ngClass]="{'active': isActive === 'week'}" (click)="a()">Week</a> -->
                  <div class="m-1">
                    <label for="formrow-date-input">From</label>
                    <input
                      type="date"
                      [(value)]="from"
                      class="form-control"
                      id="formrow-date-input"
                      (change)="onFrom($event.target.value)"
                    />
                  </div>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link" href="javascript: void(0);" (click)="a()"
                            [ngClass]="{'active': isActive === 'month'}">Month</a> -->
                  <div class="m-1">
                    <label for="formrow-date-input">To</label>
                    <input
                      type="date"
                      [(value)]="to"
                      class="form-control"
                      id="formrow-date-input"
                      (change)="onTo($event.target.value)"
                    />
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <apx-chart
            class="apex-charts"
            dir="ltr"
            [series]="dashedLineChart.series"
            [chart]="dashedLineChart.chart"
            [dataLabels]="dashedLineChart.dataLabels"
            [stroke]="dashedLineChart.stroke"
            [colors]="dashedLineChart.colors"
            [xaxis]="dashedLineChart.xaxis"
            [grid]="dashedLineChart.grid"
            [tooltip]="dashedLineChart.tooltip"
            [plotOptions]="dashedLineChart.plotOptions"
            [fill]="dashedLineChart.fill"
            [markers]="dashedLineChart.markers"
            [legend]="dashedLineChart.legend"
            [yaxis]="dashedLineChart.yaxis"
            [tooltip]="dashedLineChart.tooltip"
          ></apx-chart>
        </div>
      </div>
      <!--end card-->
    </div>
  </div>
  <!-- end row -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between" id="printPageButton">
          <div class="col-lg-6">
            <h4 class="card-title mb-4">Lateset Details</h4>
          </div>
          <div class="float-end">
            <button
              class="btn btn-info btn-sm m-2"
              *ngIf="isAdmin == false"
              (click)="openModal()"
            >
              Add today update
            </button>

            <button
              class="btn border m-2"
              id="printPageButton"
              (click)="printDoc()"
            >
              <i class="mdi mdi-file-pdf h2 text-danger align-middle"></i>
            </button>
          </div>
        </div>

        <div class="table-responsive mb-0 print-wrapper">
          <table class="table table-centered table-sm table-nowrap my-table">
            <thead class="table-light header">
              <tr>
                <!-- <th style="width: 20px;">
                  <div class="form-check font-size-16 align-middle">
                    <input class="form-check-input" type="checkbox" id="transactionCheck01">
                    <label class="form-check-label" for="transactionCheck01"></label>
                  </div>
                </th> -->
                <th class="align-middle">ID</th>
                <th class="align-middle">Date</th>
                <!-- <th class="align-middle">Reservoir Name</th>
                <th class="align-middle">Maintainer</th>

                <th class="align-middle">Capacity(in mcft)</th>
                <th class="align-middle">Full Height(in ft)</th> -->

                <th class="align-middle">Inflow(in c/s)</th>
                <th class="align-middle">Outflow(in c/s)</th>
                <th class="align-middle">Rainfall (in mm)</th>
                <th class="align-middle">Present Depth Of Storage(in ft)</th>
                <th class="align-middle">Present Storage(in mcft)</th>

                <th class="align-middle" *ngIf="isAdmin == false">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of reservoirDetailsList">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{
                    data.id
                  }}</a>
                </td>

                <td>
                  <span>{{ (data.date | date) || "NA" }}</span> <br />
                  <span class="font-size-10 text-primary">{{
                    data.lastModified | date: "medium"
                  }}</span>
                </td>

                <!-- <td>{{data.reservoir?.name}}</td>
                <td>{{data.user?.username}}</td>

                <td>{{ data.reservoir.capacity}}</td>
                <td>{{data.reservoir.fullHeight}}</td> -->

                <td>{{ data.inflow | number: "1.2-2" }}</td>
                <td>{{ data.outflow | number: "1.2-2" }}</td>
                <td>{{ data.rainfall | number: "1.2-2" }}</td>

                <td>
                  <h5 class="text-info">
                    {{ data.presentDepthOfStorage | number: "1.2-2" }}
                  </h5>
                  <p>
                    <span class="font-size-10 text-primary"
                      >{{ convertFt2Meter(reservoirFullHeight) }}
                    </span>
                  </p>
                </td>
                <td>
                  <h5 class="text-info">
                    {{ data.presentStorage | number: "1.2-2" }}
                  </h5>
                </td>

                <td id="printPageButton">
                  <!-- Button trigger modal -->
                  <button
                    *ngIf="isAdmin == false"
                    type="button"
                    class="btn btn-primary btn-sm btn-rounded"
                    (click)="editModal(data.id)"
                  >
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <ng-template #editContent role="document" let-modal>
            <div class="modal-header">
              <h5 class="modal-title mt-0">Update Today's Details</h5>
              <button
                type="button"
                class="btn-close"
                aria-hidden="true"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="myForm" (ngSubmit)="submit()">
                <div class="mb-3">
                  <label for="formrow-id-input">ID</label>
                  <input
                    type="number"
                    disabled
                    formControlName="id"
                    class="form-control"
                    id="formrow-id-input"
                  />
                </div>

                <!--
                <div class="mb-3 ">
                  <label for="formrow-fullHeight-input">Full Height</label>
                  <input type="number" formControlName="fullHeight" class="form-control" id="formrow-fullHeight-input">
                </div>


                <div class="mb-3 ">
                  <label for="formrow-capacity-input">Capacity</label>
                  <input type="number" formControlName="capacity" class="form-control" id="formrow-capacity-input">
                </div> -->

                <div class="mb-3" *ngIf="!editMode">
                  <label for="formrow-date-input">Date</label>
                  <input
                    type="date"
                    formControlName="date"
                    class="form-control"
                    id="formrow-date-input"
                  />

                  <div
                    *ngIf="
                      myForm.controls['date'].invalid &&
                      myForm.controls['date'].touched
                    "
                    class="text-danger"
                  >
                    <div *ngIf="myForm.controls['date'].errors.required">
                      date is required.
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="formrow-rainfall-input">Rainfall</label>
                  <div class="input-group">
                    <input
                      type="number"
                      step="0.01"
                      formControlName="rainfall"
                      class="form-control"
                      id="formrow-rainfall-input"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">mm</span>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="formrow-presentDepthOfStorage-input"
                    >Present Depth Of Storage</label
                  >
                  <div class="input-group">
                    <input
                      type="number"
                      step="0.01"
                      formControlName="presentDepthOfStorage"
                      class="form-control"
                      id="formrow-presentDepthOfStorage-input"
                    />

                    <div class="input-group-append">
                      <span class="input-group-text">ft</span>
                    </div>
                  </div>

                  <div *ngIf="myForm['presentDepthOfStorage'].errors.maxlength" class="invalid-feedback">
                    This value is too highest. It should have lessthen ...
                  </div>
                </div>

                <div class="mb-3">
                  <label for="formrow-presentStorage-input"
                    >present Storage</label
                  >
                  <div class="input-group">
                    <input
                      type="number"
                      step="0.01"
                      formControlName="presentStorage"
                      class="form-control"
                      id="formrow-presentStorage-input"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">mcft</span>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="formrow-inflow-input">inflow</label>
                  <div class="input-group">
                    <input
                      type="number"
                      step="0.01"
                      formControlName="inflow"
                      class="form-control"
                      id="formrow-inflow-input"
                    />

                    <div class="input-group-append">
                      <span class="input-group-text">c/s</span>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="formrow-outflow-input">outflow</label>
                  <div class="input-group">
                    <input
                      type="number"
                      step="0.01"
                      formControlName="outflow"
                      class="form-control"
                      id="formrow-outflow-input"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">c/s</span>
                    </div>
                  </div>
                </div>

                <div>
                  <button type="submit" class="btn btn-primary w-md">
                    Submit
                  </button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary"
                (click)="modal.close('Close click')"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
        <!-- end table -->
      </div>
    </div>
  </div>
</div>
